@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-optical-sizing: auto;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --main: #38B6FF;
  --hover: #10a4fa;
  --light: #FAF8F4;
  --dark: #0D1C22;
  --grey: #EBEBEB;


  /* Font-size */
  --heading: 2.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  color: var(--dark);
}

/*

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 
  
*/

/* Navbar CSS */
.logo{
  transform: translateX(-100px);
  opacity: 0;
  animation: slideInFromLeft 1s forwards;
}

@keyframes slideInFromLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.logo span{
  color: var(--main);
}

.navbar ul li{
  opacity: 0;
  transform: scale(0.5);
  animation: appear 1s forwards;
}

.navbar ul li{
  transition: 0.25s;
}

.navbar ul li:hover{
  color: var(--main);
}

.contact-btn,
.download-btn{
  background-color: var(--dark);
  transition: 0.3s;
  transform: translateX(100px);
  opacity: 0;
  animation: slideInFromRight 1s forwards;
}

.download-btn{
  background-color: var(--main);
  color: var(--dark);
  transform: translateX(-100px);
}

.circle-arrow,
.download-circle-arrow{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--main);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  transition: 0.3s;
}

.download-circle-arrow{
  background-color: var(--light);
  color: var(--dark);
}

.circle-arrow i{
  font-size: 20px;
}

.contact-btn:hover .circle-arrow,
.download-btn:hover .download-circle-arrow{
  transform: translateX(6px);
}


/* Hero CSS */
.intro{
  height: 450px;
}

.hero-image img{
  width: 450px;
  height: 450px;
  transition: opacity 0.8s ease-in-out;
  opacity: 1;
}

.hero-image img.fade-out {
  opacity: 0;
}

.hero-image{
  border: 6px solid var(--dark);
}

.hero-image button:nth-child(2){
  left: -10rem;
}
.hero-image button:nth-child(3){
  right: -4rem;
}

.social-media-icons i{
  background-color: var(--dark);
  border-radius: 50%;
  width: 40px; 
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.social-media-icons i:hover{
  background-color: var(--main);
  translate: 0 -5px;
}


/* About me CSS */
#about{
  background-color: var(--dark);
  border-radius: 45px;
  position: relative;
  top: -10rem;
  z-index: 0;
}

.dot{
  color: var(--main);
}


/* Skills CSS */
#skills {
  margin-top: -3rem;
}

.skills-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.skill-icons {
  display: flex;
  animation: marquee 20s linear infinite reverse;
}

.skill-icon {
  flex: 0 0 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: #4A5568;
  cursor: pointer;
}
.skill-icon:hover{
  color: var(--main);
}

.skill-icon p {
  margin-top: 8px;
  font-size: 1rem;
  color: var(--dark);
}

/* Keyframes for the moveIcons animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-80%);
  }
}

.blur-left,
.blur-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  pointer-events: none;
  z-index: 10;
}

.blur-left {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.blur-right {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.skill-line-base{
  width: 80%;
  height: 9px;
  background-color: #c2c8d3;
}
.skill-line,
.skill-line-2{
  width: 60%;
  height: 9px;
  background-color: var(--dark);
}
.skill-line-2{
  width: 75%;
}