@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-optical-sizing: auto;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --main: #38B6FF;
  --hover: #10a4fa;
  --light: #FAF8F4;
  --dark: #0D1C22;
  --grey: #EBEBEB;


  /* Font-size */
  --heading: 2.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  color: var(--dark);
}

/*

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 
  
*/

/* Navbar CSS */
/* .logo{
  transform: translateX(-100px);
  opacity: 0;
  animation: slideInFromLeft 1s forwards;
} */

@keyframes slideInFromLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.logo span{
  color: var(--main);
}

/* .navbar ul li{
  opacity: 0;
  transform: scale(0.5);
  animation: appear 1s forwards;
} */

.navbar ul li{
  transition: 0.25s;
}

.navbar ul li:hover{
  color: var(--main);
}

.contact-btn,
.download-btn{
  background-color: var(--dark);
  transition: 0.3s;
  /* transform: translateX(100px);
  opacity: 0;
  animation: slideInFromRight 1s forwards; */
}

.download-btn{
  background-color: var(--main);
  color: var(--dark);
  /* transform: translateX(-100px); */
}

.circle-arrow,
.download-circle-arrow{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--main);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  transition: 0.3s;
}

.download-circle-arrow{
  background-color: var(--light);
  color: var(--dark);
}

.circle-arrow i{
  font-size: 20px;
}

.contact-btn:hover .circle-arrow,
.download-btn:hover .download-circle-arrow,
.project-btn:hover .circle-arrow{
  transform: translateX(6px);
}


/* Hero CSS */
.intro{
  height: 450px;
}

.hero-image img{
  width: 450px;
  height: 450px;
  transition: opacity 0.8s ease-in-out;
  opacity: 1;
}

.hero-image img.fade-out {
  opacity: 0;
}

.hero-image{
  border: 6px solid var(--dark);
}

.hero-image button:nth-child(2){
  left: -10rem;
}
.hero-image button:nth-child(3){
  right: -4rem;
}

.social-media-icons i{
  background-color: var(--dark);
  border-radius: 50%;
  width: 40px; 
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.social-media-icons i:hover{
  background-color: var(--main);
  translate: 0 -5px;
}


/* About me CSS */
#about{
  background-color: var(--dark);
  border-radius: 45px;
  position: relative;
  top: -10rem;
  z-index: 0;
}

.dot{
  color: var(--main);
}


/* Skills CSS */
#skills {
  margin-top: -3rem;
}

.skills-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

/* .skill-icons {
  display: flex;
  animation: marquee 15s linear infinite reverse;
}

.skill-icon {
  flex: 0 0 12%;
  display: flex;
  flex-direction: column;
  align-icons: center;
  margin: 10px;
  color: #4A5568;
  cursor: pointer;
}
.skill-icon:hover{
  color: var(--main);
}

.skill-icon p {
  margin-top: 8px;
  font-size: 1rem;
  color: var(--dark);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-80%);
  }
}

.blur-left,
.blur-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  pointer-events: none;
  z-index: 10;
}

.blur-left {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.blur-right {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
} */


.skill-icons {
  position: relative;
  height: 100px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -180px; /* Adjust to -180px to reduce gap */
  }
}

.skill-icon {
  position: absolute;
  left: max(calc(180px * 14), 100%); /* Adjust for reduced gap */
  animation: scrollLeft 30s linear infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px; /* Decrease width to reduce gap */
}

.icon1 {
  animation-delay: calc(30s / 14 * (14 - 1) * -1); /* 30s / 14 * 13 * -1 */
}

.icon2 {
  animation-delay: calc(30s / 14 * (14 - 2) * -1); /* 30s / 14 * 12 * -1 */
}

.icon3 {
  animation-delay: calc(30s / 14 * (14 - 3) * -1); /* 30s / 14 * 11 * -1 */
}

.icon4 {
  animation-delay: calc(30s / 14 * (14 - 4) * -1); /* 30s / 14 * 10 * -1 */
}

.icon5 {
  animation-delay: calc(30s / 14 * (14 - 5) * -1); /* 30s / 14 * 9 * -1 */
}

.icon6 {
  animation-delay: calc(30s / 14 * (14 - 6) * -1); /* 30s / 14 * 8 * -1 */
}

.icon7 {
  animation-delay: calc(30s / 14 * (14 - 7) * -1); /* 30s / 14 * 7 * -1 */
}

.icon8 {
  animation-delay: calc(30s / 14 * (14 - 8) * -1); /* 30s / 14 * 6 * -1 */
}

.icon9 {
  animation-delay: calc(30s / 14 * (14 - 9) * -1); /* 30s / 14 * 5 * -1 */
}

.icon10 {
  animation-delay: calc(30s / 14 * (14 - 10) * -1); /* 30s / 14 * 4 * -1 */
}

.icon11 {
  animation-delay: calc(30s / 14 * (14 - 11) * -1); /* 30s / 14 * 3 * -1 */
}

.icon12 {
  animation-delay: calc(30s / 14 * (14 - 12) * -1); /* 30s / 14 * 2 * -1 */
}

.icon13 {
  animation-delay: calc(30s / 14 * (14 - 13) * -1); /* 30s / 14 * 1 * -1 */
}

.icon14 {
  animation-delay: calc(30s / 14 * (14 - 14) * -1); /* 30s / 14 * 0 * -1 */
}


.skill-line-base{
  width: 80%;
  height: 9px;
  background-color: #c2c8d3;
}
.skill-line-fd,
.skill-line-gd,
.skill-line-ud{
  width: 75%;
  height: 9px;
  background-color: var(--dark);
}
.skill-line-gd{
  width: 68%;
}
.skill-line-ud{
  width: 70%;
}


/* Career CSS */
.education-title {
  color: var(--main);
}

.slider-bg {
  background-color: var(--dark); 
  -webkit-appearance: none; /* Remove default styling for webkit browsers */
}

.slider-bg::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.8rem;
  height: 1.8rem;
  background-color: var(--main); 
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.slider-bg::-moz-range-thumb {
  width: 0.8rem;
  height: 1.8rem;
  background-color: var(--main); 
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Portfolio CSS */
#portfolio{
  background-color: var(--dark);
  border-radius: 45px;
}

.project-title{
  color: var(--main);
}

.project-image {
  position: relative;
}

.project-btn {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.3s ease-in-out;
  background-color: var(--dark);
  min-width: 160px;
}


.project-image:hover .project-btn {
  bottom: 15px;
  opacity: 1;
}


/* Contact CSS */
.contact-form input,
.contact-form textarea {
  border-radius: 40px;
}

.send-btn{
  background-color: var(--main);
}
.send-btn:hover{
  background-color: var(--hover);
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--main);
    box-shadow: 0 0 0 2px var(--main);
}

.arrow{
  position: absolute;
  top: 10%;
  right: 70%;
  width: 250px;
}


/* Footer CSS */
#footer{
  background-color: var(--dark);
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

.magic:hover p{
  color: var(--main);
}

.magic-move{
  transform: scale(1.1);
}
